@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }

  .main {
    &__left {
      margin-right: 40px;
    }
  }

}

@media (max-width: 1050px) {
  .container {
    max-width: 800px;
  }

  .main {
    &__title {
      font-size: 39px;
    }

    &__paragraph {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .popup {
    min-width: 750px;
  }

}

@media (max-width: 850px) {
  .container {
    max-width: 650px;
  }

  .main {
    &__wrapper {
      flex-direction: column;
    }

    &__left {
      margin: 0;
    }

    &__right {
      max-width: 480px;
      margin-top: 20px;
    }
  }

  .popup {
    min-width: 630px;
    padding: 46px 75px;
    min-height: 180px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 450px;
  }

  .popup {
    min-width: 520px;
    padding: 36px 55px;
    min-height: 160px;

    &__paragraph {
      margin-top: 10px;
    }
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 300px;
  }

  .main {
    padding-top: 40px;
    &__title {
      font-size: 32px;
    }

    &__paragraph {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__right {
      max-width: 200px;
    }

    &__buttons {
      flex-direction: column;
    }
  }

  .popup {
    min-width: 300px;
    padding: 36px 55px;
    min-height: 140px;

    &__title{
      font-size: 32px;
    }

    &__close {
      right: 20px; 
      top: 20px;
    }

    &__paragraph {
      font-size: 14px;
    }
  }

  .custom {
    margin-top: 10px;
  }
}