* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, p {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@import "variables.scss";

.main {
  padding: 96px 65px 0 65px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__left {
    margin-right: 96px;
  }
  &__right {
    max-width: 380px;
  }
  &__title {
    font-weight: 700;
    font-size: 42px;
    color: $main-color;
    margin-bottom: 24px;
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $main-color;
    margin-bottom: 32px;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    background: $beige-color;
    border-radius: 32px;
    font-weight: 700;
    font-size: 16px;  
    color: $white-color;
    padding: 12px 40px;
    border: 1px solid $beige-color;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s;
    &:hover {
      border: 1px solid $main-color;
    }
  }
}

.background {
  position: fixed;
  width: 100%; 
  height: 100%; 
  top: 0; 
  background-color: rgba(18, 18, 18, 0.5);
}

.popup {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  min-width: 920px; 
  min-height: 210px;
  background-color: $white-color;
  padding: 56px 95px;


  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: $main-color;
  }

  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    color: $main-color;
    margin-top: 24px;
    span {
      font-weight: 700;
    }
  }

  &__close {
    cursor: pointer; 
    position: absolute; 
    top: 40px; 
    right: 40px;
    height: 25px; 
    width: 25px;
    &:before {
      content: ""; 
      position: absolute; 
      width: 17px; 
      height: 2px; 
      background-color: #000000;
      border-radius: 20px;
      transform: rotate(45deg);
      margin-top: 8px;
    }
    &:after {
      content: ""; 
      position: absolute; 
      width: 17px; 
      height: 2px; 
      background-color: #000000;
      border-radius: 20px;
      transform: rotate(-45deg);
      margin-top: 8px;
    }
  }
}

.hide {
  display: none;
}

.open {
  display: block;
}

.custom {
  background-color: $main-color;
  color: $beige-color;
  border: 1px solid $main-color;
  &:hover {
      border: 1px solid $beige-color;
  }
}

@import "media.scss";